@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@keyframes leftToRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-0);
    opacity: 100%;
  }
}

@keyframes rightToLeft {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(-0);
    opacity: 100%;
  }
}

@keyframes fadeFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(-0);
    opacity: 100%;
  }
}

@keyframes growFromCenter {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(100%);
    opacity: 100%;
  }
}

/* .fadeIn {
  animation: 1s ease-in-out 0s 1 growFromCenter;
} */

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  overflow-x: hidden;
}

p {
  @apply px-2 text-sm;
}

img {
  @apply w-full;
}

[data-inviewport="fadeIn"] {
  transition: 1s;
  transform: scale(0);
  opacity: 0;
}

[data-inviewport="fadeIn"].is-inViewport {
  transform: scale(100%);
  opacity: 100%;
}

[data-inviewport="fadeFromBottom"] {
  opacity: 0;
}

[data-inviewport="fadeFromBottom"].is-inViewport {
  animation: 1s ease-in-out 0s 1 fadeFromBottom;
  opacity: 100%;
}

[data-inviewport="inFromRight"] {
  transition: 1s;
  opacity: 0;
  transform: translateX(-100%);
}

[data-inviewport="inFromRight"].is-inViewport {
  opacity: 100;
  transform: translateX(0);
}

[data-inviewport="inFromLeft"] {
  transition: 1s;
  opacity: 0;
  transform: translateX(100%);
}

[data-inviewport="inFromLeft"].is-inViewport {
  opacity: 100;
  transform: translateX(0);
}

:focus:not(:focus-visible) {
  outline: none;
  box-shadow: 1px 1px 5px rgba(1, 1, 0, 0.7);
}

:focus-visible {
  outline: none;
}

.section1 {
  background-image: url("../../public/psl-topbar.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  box-sizing: border-box;
}

.fadeFromBottom {
  animation: 1s ease-in-out 0s 1 fadeFromBottom;
}

.input-base {
  @apply w-full rounded-md px-5 py-4 border-solid border-psl-secondary-text border-2 focus:border-psl-active-link focus:border-2 focus:border-solid text-psl-primary;
}

#card {
  @apply max-w-sm rounded-md overflow-hidden shadow-lg flex flex-col col-span-1;
}

#card-header {
  @apply w-full;
}

#card-body {
  @apply h-full flex flex-col;
}
